<template>
  <header class="bg-white h-20">
    <nav class="h-full flex justify-between container items-center">
      <div>
        <router-link to="/" class="text-neutral-600 font-semibold">Quantified Media</router-link>
      </div>
      <ul class="flex items-center gap-4">
        <li>
          <router-link to="/" class="text-neutral-600">Home</router-link>
        </li>
        <li>
          <router-link to="/subscriptions" class="text-neutral-600">Subscriptions</router-link>
        </li>
        <li v-if="!user">
          <router-link to="/login" class="text-neutral-600">Login</router-link>
        </li>
        <li v-if="user">
          <router-link to="/profile" class="text-neutral-600">Profile</router-link>
        </li>
        <li v-if="user" class="cursor-pointer" @click="handleLogout">Logout</li>
      </ul>
    </nav>
  </header>
</template>

<script setup lang="ts">
import { logoutUserFn } from '@/api/authApi'
import { useMutation } from 'vue-query'
import { useAuthStore } from '@/stores/authStore'
import { createToast } from 'mosha-vue-toastify'

const authStore = useAuthStore()

const user = authStore.user

const { mutate: logoutUser } = useMutation(() => logoutUserFn(), {
  onSuccess: () => {
      authStore.user = null;
      authStore.accessToken = '';
      authStore.refreshToken = '';

    document.location.href = '/login'
  },
  onError: (error) => {
    if (Array.isArray((error as any).response.data.error)) {
      ;(error as any).response.data.error.forEach((el: any) =>
        createToast(el.message, {
          position: 'top-right',
          type: 'warning'
        })
      )
    } else {
      createToast((error as any).response.data.message, {
        position: 'top-right',
        type: 'danger'
      })
    }
  }
})

const handleLogout = () => {
  logoutUser()
}
</script>
