<template>
  <Header />
  <section class="min-h-screen pt-20">
    <div
      class="max-w-4xl mx-auto bg-gray-100 rounded-md h-[20rem] flex justify-center items-center"
    >
      <p class="text-5xl font-semibold">Home Page</p>
    </div>
  </section>
</template>

<script setup lang="ts">
import Header from '@/components/Header.vue'
</script>
